/* Create two columns/boxes that floats next to each other */
details {
    float: right;
    width: 20%;
    /* only for demonstration, should be removed */
    background: #ccc;
    display: inline-grid;
    align-content: center;
}

.show_detail {
    float: left;
    width: 80%;
    background-color: #f1f1f1;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {

    details,
    show_detail {
        width: 100%;
        height: auto;
    }
}